<div class="container container-outside">
    <div class="row">
        <div class="six columns">
            <p class="container-outside-style">
                <i class="fa fa-user-plus" style="color: #cd5070;"></i>&nbsp;&nbsp;Enfermeros / 
                <a href="/idoctor/agregar-enfermero">
                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Agregar Enfermero
                </a>
            </p>
        </div>
    </div>
</div>
<div class="content-box">
    <div class="container container-margin">
        <h3>Lista de Enfermeros</h3>
        {{#if enfLista}}
            <div class="row">
            {{#each enfLista}}
                <div class="three columns">
                    <div class="simple-card">
                        <p class="no-padding">
                            <img src="/images/enfermeros/{{foto_enf}}" class="img-perfil"><br>
                            <b>Nombre:</b> {{nombre_enf}} <br>
                            <b>Alias:</b> {{alias_enf}} <br>
                        </p>
                        <a href="/idoctor/editar-enfermero/{{id_enf}}" class="button button-primary no-padding">Editar</a>
                    </div>
                </div>
            {{#if (numCards @index)}}
            </div>
            <div class="row">
            {{/if}}
            {{/each}}
            </div>
        {{else}}
            <div class="row simple-card">
                No hay enfermeros registrados
            </div>
        {{/if}}
    </div>
</div>